<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block main_content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}
<div class="container">
	<form method="POST" class="form-group">
		<div class="container-title">
			<h3 class="text-muted text-dark">Login to your account</h3>
		</div>
		<div class="social-icons">
			<a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
			<a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
			<a href="#" class="icon"><i class="fa-brands fa-apple fa-lg"></i></i></a>
		</div>
		<span>or use your email password</span>
		{% csrf_token %}
		{{ form }}
		<button type="submit" class="btn btn-success">Login</button>
	</form>
</div>


{% endblock %}