body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

h3 {
    background-color: cornsilk;
}

.button {
    background-color: #11246a;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}