body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h4 {
    margin-bottom: 10px;
}

h2 {
    padding: 8px;
    background-color: cornsilk;
    border-radius: 8px;
    margin-top: 20px;
}

.show-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.show-block {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.show-block:hover {
    transform: scale(1.05);
}

.show-block p {
    margin-bottom: 8px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-right: 8px;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-success {
    background-color: #28a745;
}

.btn:hover {
    opacity: 0.9;
}

.btn-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-show button {
    background-color: #11246a;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.btn-show button.hidden {
    background-color: transparent;
    border-color: #fff;
}

